<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Textbook Manager</title>
</head>
<body>
<div style="background-image: url(images/cputLogo.jpg);">
    <h1>Welcome to CPUT Textbook System</h1>
    <h2>The unofficial website to sell and buy second-hand textbooks</h2>
    <a href="new_textbook.html">Create New Textbook</a>
    <br/><br/>
    <a href="show_student.html">Add New Student</a>
    <br/><br/>
    <a href="index.html">List All Textbook</a>

        <tbody>

        </tbody>
    </table>
</div>
</body>
</html>
